PORT=5000
NODE_ENV=development

# URLs de servicios externos
# API_GATEWAY_URL=https://api.ejemplo.com
# DATABASE_URL=mongodb://localhost:27017/sanos-y-salvos

# ============================================
# 🤖 MICROSERVICIOS ENTREGA 3 (PUERTOS)
# ============================================
# BFF (Backend for Frontend)
BFF_PORT=5000

# Servicios Existentes
GEO_SERVICE_URL=http://localhost:8003
USER_SERVICE_URL=http://localhost:8002
AUTH_SERVICE_URL=http://localhost:8001

# Nuevos Microservicios Entrega 3
CHAT_SERVICE_URL=ws://localhost:8004
MATCH_SERVICE_URL=http://localhost:8005
MEDIA_SERVICE_URL=http://localhost:8006
NOTIFICATION_SERVICE_URL=http://localhost:8007

# URL Base para el BFF comunicarse con los servicios Django
DJANGO_CORE_SERVICE_URL=http://localhost:8000