[run]
source = .
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    manage.py
    */settings.py
    */asgi.py
    */wsgi.py
    */apps.py
    */venv/*
    */.venv/*
    conftest.py

[report]
show_missing = True
skip_covered = False
precision = 1

[html]
directory = htmlcov
